<app-header />
<!-- <app-loader></app-loader> -->
@if (postStore.loading() && postStore.postList().length === 0) {
  <app-post-skeleton></app-post-skeleton>
  <app-post-skeleton></app-post-skeleton>
  <app-post-skeleton></app-post-skeleton>
  <app-post-skeleton></app-post-skeleton>
  <app-post-skeleton></app-post-skeleton>
  <app-post-skeleton></app-post-skeleton>
  <app-post-skeleton></app-post-skeleton>
  <app-post-skeleton></app-post-skeleton>
  <app-post-skeleton></app-post-skeleton>
} @else {
  <div class="overflow-y-auto h-screen" (scroll)="onScroll($event)">
    <app-loader [show]="postStore.loading() && postStore.postList().length > 0"></app-loader>
    @for (post of postStore.postList(); track post.id) {
      <app-post [post]="post"></app-post>
    }
  </div>
}
<div class="fixed bottom-4 right-4 z-10">
  <app-fab-button
    [loading]="postStore.loading() && postStore.postList().length === 0"
    (toggleClick)="toggleCreatePost()"
  ></app-fab-button>
</div>
<app-create-post
  (togglePost)="togglePost($event)"
  (toggleCancel)="toggleCancelPost()"
  [showCreatePost]="showCreatePost"
></app-create-post>
