<article class="flex flex-row w-full p-4 space-x-3 bg-white border-b">
  <app-avatar></app-avatar>
  <form action="" class="flex flex-col w-full">
    <textarea
      name="tweet"
      cols="30"
      rows="3"
      placeholder="What is happening?!"
      class="resize-none border-b mb-1"
    ></textarea>
    <div class="flex flex-row justify-between items-center mt-1">
      <button
        type="submit"
        class="text-white focus:ring-4 rounded-full text-[14px] px-5 py-1.5 bg-[#1D9BF0]"
      >
        Post
      </button>
    </div>
  </form>
</article>
